body {
    background: #98d361;
    font-family: 'Oswald', sans-serif;
    color:  #ffffff;
    text-align: center;
}
.site-wrapper {
    width: 1028px;
    margin: 0px auto;
}
.header-text {
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 0.5px;
    font-size: 18px;
    padding-left: 45px;
    padding-right: 45px
}
.header-title {
    font-size: 31px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 30px;
    margin-bottom: 30px;
}
h2 {
    font-size: 26px;
    font-weight: 100;
    margin-top: 55px;
    margin-bottom: 35px;
}
.features-items p {
    font-size: 19px;
}
img {
    margin-bottom: 10px;
    margin-top: 90px;
}
.features-items {
    list-style: none;
    width: 260px;
    padding: 0;
}
.features {
    display: flex;
    padding: 0;
    justify-content: space-between;
    height: 400px;  
    padding-right: 22px;
}
